@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* body * {
      scroll-margin-top: 75px;
    } */
    .mainStroke {
      -webkit-text-stroke: 0.4px white;
    }
    * {
      transition: all 0.3s ease-in-out;
    }
    .section {
      min-height: 720px;
      width: 100%;
    }
  }
  